{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-info">Django | Replit | DigitalOcean</h1>
    <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="card">
                      <img src="{{ post.file.url }}" class="card-img-top" alt="{{ post.title }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="{{ post.file.url }}" class="btn btn-primary">Go {{ post.title }}</a>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="text-warning">Post is not found!</h1>
            {% endif %}
    </div>
{% endblock content %}


