{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-info">Django | Replit | DigitalOcean</h1>
    <div class="row">
            {% if posts %}
                {% for post in posts %}
        <div class="col-3">
                    <h1 class="text-primary">{{ post.title }}</h1>
                    <img src="{{ post.file.url }}" alt="{{ post.title }}">
        </div>
                {% endfor %}
            {% else %}
                <h1 class="text-warning">Post is not found!</h1>
            {% endif %}
    </div>
{% endblock content %}


